:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --background-color:  rgba(69, 8, 159, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; /* 10px = 1rem  */
  font-family: sans-serif;
}
body {
    color: var(--white);
    background-color: var(--background-color) ;
}
a {
  text-decoration: none;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding: 20px 0 10px 0;
}
table{
  position: relative;

}
.table-opacity {
  opacity: .4;
}

.reload-icon {
  position: absolute;
  width: 40%;
  height: 40%;
  cursor: pointer;
  opacity: .7;
}

.reload-icon:hover {
  transform: scale(1.5);
}

.inactive {
  display: none;
}

button {
  height: 80px;
  width: 80px;
  font-size: 4rem;
  color: var(--white);
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
.section2 {
  min-width: 250px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.estadisticas { 
  height: 60px;
  border-radius: 8px;
  padding: 18px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  border: 1px solid var(--white);
}


footer {
  position: absolute;
  bottom: 1vh;
  width:100%;
  height: 15px;
  text-align: center;
  font-weight: bold;
}
footer p {
  font-size: 1.2rem;
 
}
